.profileContainer{
    height: 100%;
    overflow: auto;
    padding: 0 0.5em;
    padding-top: 5em;
}

.actionBtn svg {
    font-size: 2em;
    margin-right: 1em;
}

.profileContainer .profile_image{
    width: 80px;
    border-radius: 2.2em;
}

.actionBtn>svg:last-child{
    margin-right: 0;
}

.profileContainer h4 {
    font-size: 1.5em;
    color: var(--textColor);
    margin: 0.5em 0 0.1em 0;
}

.profileContainer p {
    font-size: 1.1em;
    color: #aaa;
    margin: 0;
}

.profileContainer .follow{
    display: flex;
    align-items: baseline;
    margin-bottom: 2.5em;
}

.profileContainer .follow>p:first-child{
    margin-right: 2.5em;
}

.profileContainer .follow p span {
    font-weight: 500;
    color: var(--textColor);
    margin-right: 0.2em;
    font-size: 1.3em;
}

.profileContainer button {
    border: none;
    background-color: transparent;
    color: var(--btnBgColor);
    margin-bottom: 2.5em;
}

.nominated {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.nominated img {
    width: 40px;
    border-radius: 1em;
    margin-right: 0.5em;
}

.nominated p {
    font-size: 0.975em;
    line-height: 1.4;
}

.nominated p span {
    font-weight: 500;
    color: var(--textColor);
}

.addMemberBtn {
    background-color: lightblue!important;
    margin-bottom: 0 !important;
    padding: 0.8em 1em;
    line-height: 1;
    border-radius: 1em;
    margin-top: 0.3em;
}